%h2 Missing Tomboy Notes
.content= "Total notes missing: #{@missing.size}"

%table
	%th Title
	%th Actions

	- @missing.each.with_index do |file, index|
		%tr
			%td.title
				%a{:href => url("/show?id=#{index}")}= file[:title].slice(0,60)
			%td.actions
				%a{:href => url("/restore?id=#{index}")} Restore
				%a{:href => url("/delete?id=#{index}")} Delete
		%tr
			%td.content
				= file[:content].slice(0,80)
				= "..." if file[:content].size > 80

