%h2= @file[:title]
.properties= @file[:file].to_path

%h4 Contents
%pre= @file[:content]

%p
	%a{:href => url("/restore?id=#{params[:id]}")} Restore
	%a{:href => url("/delete?id=#{params[:id]}")} Delete
	%a{:href => url('/')} Back
